<p id="notice"><%= notice %></p>

                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                      <wb:like type="number"></wb:like>

<script type="text/javascript" charset="utf-8">
(function(){
var p = [], w=130, h=24,
lk = {
url:''||location.href, /*喜欢的URL(不含如分页等无关参数)*/
title:''||document.title, /*喜欢标题(可选)*/
description:'', /*喜欢简介(可选)*/
image:'' /*喜欢相关图片的路径(可选)*/
};
for(var i in lk){
p.push(i + '=' + encodeURIComponent(lk[i]||''));
}
document.write('<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://www.connect.renren.com/like/v2?'+p.join('&')+'" style="width:'+w+'px;height:'+h+'px;"></iframe>');
})();
</script>

<div class="container">
<div class="col-md-8">
  <h1>Listing dishes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>菜品</th>
        <th>价格</th>
        <th>供应量</th>
        <th>预订量</th>
        <th>剩余库存</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= dish.restaurant %></td>
          <td><%= dish.name %></td>
          <td><%= dish.price %></td>
          <td><%= dish.stock %></td>
          <td><%= dish.orders.size %></td>
          <td><%= dish.stock - dish.orders.size%></td>
          <td><%= link_to 'Show', dish %></td>
          <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
          <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div></div>

<div class="container">
<div class="col-md-10">
  <br>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                      <wb:like type="number"></wb:like>

<script type="text/javascript" charset="utf-8">
(function(){
var p = [], w=130, h=24,
lk = {
url:''||location.href, /*喜欢的URL(不含如分页等无关参数)*/
title:''||document.title, /*喜欢标题(可选)*/
description:'', /*喜欢简介(可选)*/
image:'' /*喜欢相关图片的路径(可选)*/
};
for(var i in lk){
p.push(i + '=' + encodeURIComponent(lk[i]||''));
}
document.write('<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://www.connect.renren.com/like/v2?'+p.join('&')+'" style="width:'+w+'px;height:'+h+'px;"></iframe>');
})();
</script>
  <%= link_to 'New Dish', new_dish_path %> <br><br>
  <%= link_to 'Check the Orders', admin_orders_path %> <br>
  <%= link_to 'Check the Feedbacks', admin_feedbacks_path %> <br>
  <%= link_to 'Goto Menu Page', dishes_path %>

</div></div>


                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                      <wb:like type="number"></wb:like>

<script type="text/javascript" charset="utf-8">
(function(){
var p = [], w=130, h=24,
lk = {
url:''||location.href, /*喜欢的URL(不含如分页等无关参数)*/
title:''||document.title, /*喜欢标题(可选)*/
description:'', /*喜欢简介(可选)*/
image:'' /*喜欢相关图片的路径(可选)*/
};
for(var i in lk){
p.push(i + '=' + encodeURIComponent(lk[i]||''));
}
document.write('<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://www.connect.renren.com/like/v2?'+p.join('&')+'" style="width:'+w+'px;height:'+h+'px;"></iframe>');
})();
</script>
