<div class="container main-container">


    <div class="jumbotron">
      <div class="container col-md-offset-4 col-sm-offset-3">
        <p>你还在犹豫今天中午吃什么吗？<br>
          你还在忍受学校餐厅万年不变的菜牌吗？<br>
          你还在计算什么时候餐厅排队人数最少吗？</p>
        <p>快点击的Logo进入今日菜品下单吧！<br>
        每日精选菜单为您解决吃什么的烦恼！<br>
        好吃不排队，实惠没烦恼！</p>

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 text-center">
          <%= image_tag('flow_images/限时抢.jpg')%>
          <hr />
          <h2>限时抢<small>上午9点</small></h2>
          <p>打开FoodRocks.hk</p>
          <p>浏览菜品，迅速下单，限时抢饭！</p>
          <br>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag('flow_images/准点送.jpg')%>
          <hr />
          <h2>轻松取<small>正午12点</small></h2>
          <p>请到下图所示地点领取</p>
          <p>正午12点，我们为您准时送到！</p>
          <br>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag('flow_images/放开吃.jpg')%>
          <hr />
          <h2>放开吃</h2>
          <p>无需排队，足不出校</p>
          <p>直接享用山下美食！</p>
          <br>
        </div>
        <div class="col-md-offset-1 col-md-10">
          <br><br>
          <h2>取餐地点</h2>
          <hr />
          <div class="text-center">
            <%= image_tag('flow_images/领取地点.jpg', :class => 'img-thumbnail')%>

            <%= image_tag('flow_images/领取地点2.jpg', :class => 'img-thumbnail')%>
          </div>

        </div>
      </div>
    </div>
</div>
