<p id="notice"><%= notice %></p>

<h1>Listing orders</h1>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Dish</th>
      <th>Phone num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.time %></td>
        <td><%= order.dish.name %></td>
        <td><%= order.phone %></td>
        <td><%= link_to 'Show', dish_order_path(@dish, order) %></td>
        <td><%= link_to 'Destroy', dish_order_path(@dish, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Check the Dishes', dishes_admin_path %> |
<%= link_to 'Goto Menu Page', dishes_path %>
