<br>
<div class="container main-container">
    <div class="content container col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-sm-10">
        <table class="table text-center">
        <tbody>
            <tr>
            <td colspan=2>
                <div class="text-center">
                <%= image_tag("logo.png", :class=>"logoModal")%></td></div>
            </tr>

            <tr>
            <td colspan=2><h2>谢谢您</h2></td>
            </tr>
            <tr>
            <td colspan=2>
                <p>请凭此确认单在中午12:20-12:40到开心公园取餐</p>
                <p>取餐过程中如遇到任何问题，请联系April: 56489208</p>
            </td>
            </tr>            
            <tr class="info">
                <td><h3>您的订单号</h3></td> 
                <td><h3 style="color:red;"><%=@order.id%></h></td>
            </tr>
            <tr>
                <td><p>日期</p></td> 
                <td><p><%=@order.time%></p></td>
            </tr>
             <tr>
                <td><p>您的手机</p></td> 
                <td><p><%= @order.phone %></p></td>
            </tr>


            <tr>
                <td><p>时间地点</p></td>                    
                <td><p>正午 12:00 @ 开心公园</p></td>
            </tr>             
            <tr>
                <td><p>菜品</p></td>
                <td><p><%= @dish.name %> @ <%=@dish.restaurant%></p></td>
            </tr>
            <tr>
                <td><p>价格</p></td> 
                <td><p><%= @dish.price %> HKD</p></td>
            </tr>
            <tr>
            <td colspan=2><%= link_to '我还要吃', dishes_path, class: "btn btn-lg btn-danger btn-block", role: "button", style: 'color:white;'%></td>
            </tr>        

          </tbody>
         </table>
        </div>
    </div>




<!--
<p>
  <strong>The Dish you ordered is:</strong>
  <%= @order.dish.name %>
</p>

<p>
  <strong>Your Phone Number (Used to pick up):</strong>
  <%= @order.phone %>
</p>
-->

