


<div id="myCarousel" class="carousel slide" data-ride="carousel">


      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
      </ol>

      <div id="myCarousel-inner" class="carousel-inner">


        <div class="item active">
          <div class="text-center">
            <%= image_tag(@dishes.first.imageURL, :class=>'responsiveImg')%>
          </div>
          <div class="container">
            <div class="carousel-caption">
            <h1 class="soldOut"></h1>
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8">
            <!--
            <table class="table transbox table-short text-center">
              <tbody>
                <tr>
                    <td colspan="3"><h3><%= @dishes.first.name %> @ <%= link_to @dishes.first.restaurant, @dishes.first.restaurantURL %></h3></td>
                </tr>
                <tr>
                    <td colspan="3"><h3><%= @dishes.first.price %> HKD</h3></td>
                </tr>
              </tbody>
            </table>



                <p class="reminingDish">仅剩<%=@dishes.first.stock - @dishes.first.orders.size%>份</p>
              <%= link_to '就要这个', @dishes.first, class: "btn btn-lg btn-danger btn-block", role: "button", style: 'color:white;' %>
            -->
              </div>
            </div>
          </div>
        </div>

        <% @dishes.drop(1).each do |dish| %>
          <div class="item">
            <div class="text-center">
            <%= image_tag(dish.imageURL, :class=>'responsiveImg')%>
            </div>
            <div class="container">
              <div class="carousel-caption">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8">
              <table class="table transbox table-short">
                <tbody>
                  <tr>
                      <td><h3><%= dish.name %> @ <%= link_to dish.restaurant, dish.restaurantURL%></h3></td>
                  </tr>
                  <tr>
                      <td><h3><%= dish.price %> HKD</h3></td>
                  </tr>

                </tbody>
              </table>

                  <p class="reminingDish">仅剩<%=dish.stock - dish.orders.size %>份</p>
              <%= link_to '就要这个', dish, class: "btn btn-lg btn-danger btn-block", role: "button", style: 'color:white;' %>
              </div>


              </div>
            </div>
          </div>
        <% end %>

      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>


    </div><!-- /.carousel -->

    <script>
      checkTimeToStart();
      checkSoldOut();
      $('body').css('height', '100%');
      $('html').css('height', '100%');
    </script>

<!--
<h1>Listing dishes</h1>
<p> Click on the dish you like to order !</p>
<table>
  <tbody>
    <tr>
      <% @dishes.each do |dish| %>
        <td colspan="3"><%= link_to image_tag(dish.imageURL, size: "200x180"), dish %></td>
      <% end %>
    </tr>
    <tr>
      <% @dishes.each do |dish| %>
        <td><%= link_to dish.restaurant, dish.restaurantURL %></td>
        <td><%= dish.name %></td>
        <td><%= dish.price %></td>
      <% end %>
    </tr>
    <tr>
      <% @dishes.each do |dish| %>
        <td colspan="3">Stock:   <%=dish.orders.size %>/<%= dish.stock %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<<<<<<< HEAD
-->
