

<div id="bg">
  <%= image_tag(@dish.imageURL, class: "img-blur") %>
</div>



<div class="container order-container">



<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8">
             <table class="table transbox table-width">
                <tbody>
                  <tr>
                    <td colspan=2><div class="text-center"><h1>订单详情</h1></div></td>
                  </tr>
                  <tr>
                    <td><p>取餐时间</p></td>                    
                    <td><p>正午 12:00-12:05</p></td>
                  </tr>
                  <tr>
                    <td><p>取餐地点</p></td> 
                    <td><p>开心公园</p></td>
                  </tr>                  
                  <tr>
                    <td><p>菜品</p></td>
                    <td><p><%= @dish.name %> @ <%= link_to @dish.restaurant, @dish.restaurantURL %></p></td>
                  </tr>
                  <tr>
                    <td><p>价格</p></td> 
                    <td><p><%= @dish.price %> HKD</p></td>
                  </tr>

                </tbody>
             </table>
</div>

<br>
<%= render "dish_orders/form", :locals=>{ :order => @dish.orders.build }%>
</div>

