<p>
  <strong>Restaurant:</strong>
  <%= @dish.restaurant %>
</p>

<p>
  <strong>Dish name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<%= render "dish_orders/form", :locals=>{ :order => @dish.orders.build }%>

<%= link_to 'Back to Menu', dishes_path %>
