

<%= form_for(@feedback, html:{class: "form-horizontal", role:"form"}) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
        <p>FoodRocks.hk 在不久前刚刚上线了全新设计的网站系统。新系统目前可能尚有很多地方需要完善，如果您在使用的过程中发现任何BUG或者对我们有改进意见，请填写下表并发送给我们。这将帮助我们为您提供更好的服务。</p>
        <p>注意，我们会尽力考虑所有的反馈意见，但我们无法保证一一回复。</p>
      </div>

  <div class="field form-group">
    <%= f.text_field :topic, :class=>'form-control', :placeholder=>'主题' %>    
  </div>

  <div class="field form-group">
    <%= f.text_field :email, :class=>'form-control', :placeholder=>'您的联系方式（选填）' %>
  </div>
  
  <div class="field form-group">
    <%= f.text_area :content, :class=>'form-control', :placeholder=>'填写您的反馈内容', :rows=>"10"%>
  </div>


  <div class="actions">
    <%= f.submit "提交反馈", :class=>'btn btn-lg btn-danger btn-block'%>
  </div>
<% end %>
